
body {
  overflow-x: hidden;

}
*{
  margin-left: 20px;
}

input, select, button{
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}
.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}
.editar{
  color: blueviolet;
  cursor: pointer;
}
.eliminar{
  color: red;
  cursor: pointer;
}

