<header >
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #bff3e0">
      <div class="container-fluid">
          <img src="./assets/img/logo sin letra.PNG" width="50px" height="50px" style="border-radius: 50%;">

        <h1>Descubre tu viaje</h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link text-black"href="#">Contactanos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-black" href="#">Sobre Nosotros</a>
            </li>



          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button class="btn btn-outline-success me-4" type="submit">Buscar</button>
          </form>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
            </ul>
          </li>
          <button type="button" class="btn btn-success me-2">Iniciar Sesión</button>


        </ul>
        </div>
      </div>
    </nav>
</header>

