<header style="background-color: white" >
  <nav class="navbar navbar-expand-lg navbar  container-fluid" style="background-color: white;"  >

      <!-- Botón para mostrar/ocultar el sidebar -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Nosostros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" [routerLink]="['/soporte']">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" (click)="cerrar()" style="cursor: pointer;">Cerrar Sesión</a>
        </li>


      </ul>
    </div>
  </nav>
</header>
















<!--<header class="bg-dark text-dark py-2">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <img src="./assets/img/logo sin letra.PNG" alt="" width="50px" style="border-radius: 50px;">
      <h1 class="navbar-brand m-0 ms-2 fw-semibold fs-4">Descubre tu viaje</h1>
    </div>

    <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
      <div class="navBar">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav  fs-5 justify-content-center ">

      <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/dashboard']"class="nav-link">Dashboard</a></li>

      <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/contactanos']" class="nav-link">Contáctanos</a></li>

      <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/nosotros']"class="nav-link">Nosotros</a></li>

      <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/servicios']"class="nav-link">Servicios</a></li>

      <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/usuarios']"class="nav-link">Usuario</a></li>

      <li class="nav-item p-3 py-md-1 my-0 py-1"><a (click)="cerrar()" style="cursor: pointer;">
        Cerrar Sesión
      </a>

      </li>

    </ul>
      </div>
  </div>
  </div>
</header>




  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
      <img src="./assets/img/logo sin letra.PNG" alt="" width="50px" style="border-radius: 50px;">
      <a href="#" class="navbar-brand text-info fw-semibold fs-4 m-2">Descubre tu viaje</a>





          <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
              <div class="navBar">

              <ul class="navbar-nav  fs-5 justify-content-evenly ">

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/dashboard']"class="nav-link">Dashboard</a></li>

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/contactanos']" class="nav-link">Contáctanos</a></li>

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/nosotros']"class="nav-link">Nosotros</a></li>

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/servicios']"class="nav-link">Servicios</a></li>

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a [routerLink]="['/usuarios']"class="nav-link">Usuario</a></li>

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a (click)="cerrar()" style="cursor: pointer;">
                    Cerrar Sesión
                  </a>

                  </li>




                  <button class="boton-inicio "><a class="login-registro" href="./app/modulos/login/login.component.html">Iniciar Sesión</a>
                  </button>


              </ul>
          </div>


             < <div class="d-lg-none align-self-center py-3">


                  <a href="#"><i class="bi bi-whatsapp px-3 text-success fs-4"></i></a>
                  <a href="#"><i class="bi bi-facebook px-3 text-primary fs-4"></i></a>
                  <a href="#"><i class="bi bi-instagram px-3 text-danger fs-4"></i></a>
                </div>

          </div>

  </div>

  </nav>-->



