<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
      <img src="./assets/img/logo sin letra.PNG" alt="" width="50px" style="border-radius: 50px;">
      <a href="#" class="navbar-brand text-info fw-semibold fs-4 m-2">Descubre tu viaje</a>

      <button class="navbar-toggler" type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#menuLateral">
      <span class="navbar-toggler-icon"></span>
      </button>

  <!--Empieza el menu lateral-->
      <section class="offcanvas offcanvas-start  sidebar-nav bg-dark" id="menuLateral" tabindex="-1" >

          <div class="offcanvas-header"
              data-bs-theme="dark">
              <h5 class="offcanvas-title text-info">DESCUBRE TU VIAJE</h5>
              <button class="btn-close"
              type="button"
              aria-label="Close"
              data-bs-dismiss="offcanvas">
              </button>
          </div>

          <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
              <div class="navBar">

              <ul class="navbar-nav  fs-5 justify-content-evenly ">

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a href="dashboard.html" class="nav-link">Dashboard</a></li>

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a href="#" class="nav-link">Contáctanos</a></li>

                  <li class="nav-item p-3 py-md-1 my-0 py-1"><a href="#" class="nav-link">Nosotros</a></li>


                  <button class="boton-inicio "><a class="login-registro" href="./app/modulos/login/login.component.html">Iniciar Sesión</a>
                  </button>


              </ul>
          </div>
              <div class="d-lg-none">
                  <ul class="navbar-nav  fs-5 justify-content-evenly bg-dark">

                      <li class="nav-item p-3 py-md-1 text-primary dropdown my-0 py-1">
                          <a href="#" class="nav-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-buildings-fill text-success"></i>
                            Sitios turísticos<i class="bi bi-chevron-down"></i>
                        </a>
                          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-white" href="#">
                              <i class="bi bi-house-door-fill"></i>
                              Medellín
                            </a>

                            <a class="dropdown-item text-white " href="#">
                              <i class="bi bi-house-door-fill "></i>
                              Bogotá
                          </a>
                          </div>
                      </li>

                        <li class="nav-item p-3 py-md-1 text-primary dropdown my-0 py-1">
                          <a href="#" class="nav-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-bar-chart-line-fill text-success"></i>
                            Reportes<i class="bi bi-chevron-down"></i>
                        </a>
                          <div class="dropdown-menu  bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-white" href="#"><i class="bi bi-star-fill"></i>Favoritos</a>
                            <a class="dropdown-item text-white" href="#"><i class="bi bi-chat-right-dots-fill"></i>Más comentados</a>
                          </div>
                        </li>
                        <li class="nav-item p-3 py-md-1 text-primary dropdown my-0 py-1">
                          <a href="#" class="nav-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear-fill text-success"></i>
                            Configuración<i class="bi bi-chevron-down"></i>
                        </a>
                          <div class="dropdown-menu  bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-white" href="#"><i class="bi bi-emoji-grin-fill"></i>Perfil</a>
                            <a class="dropdown-item text-white" href="#"><i class="bi bi-box-arrow-in-right"></i>Cerrar Sesión</a>
                          </div>
                        </li>
                  </ul>
              </div>

              <div class="d-lg-none align-self-center py-3">


                  <a href="#"><i class="bi bi-whatsapp px-3 text-success fs-4"></i></a>
                  <a href="#"><i class="bi bi-facebook px-3 text-primary fs-4"></i></a>
                  <a href="#"><i class="bi bi-instagram px-3 text-danger fs-4"></i></a>
                </div>

          </div>
      </section>
  </div>

  </nav>
</header>


