<div class="contenedor">
  <main class="contenido-principal">
      <div class="contenedor">
        <div class="container-fluid ">
          <h1 class="contenido-principal__titulo fw-bold">Bienvenido</h1>
          <p class="contenido-principal__resumen fw-bold text-primary">
            ¡Estas son nuestras actualizaciones!
          </p>
        </div>
      </div>
    </main>


  <div class="carousel">
      <div class="carousel__contenedor">
          <button aria-label="Anterior" class="carousel__anterior">
              <i class="fas fa-chevron-left"></i>
          </button>

          <div class="carousel__lista">
              <div class="carousel__elemento">
                  <img src="./assets/img/botero-in-berlin-250915_1280.jpg" alt="Museo Botero">
                  <p>Museo Botero</p>
              </div>
              <div class="carousel__elemento">
                  <img src="./assets/img/colombia-g04a89f548_1280.jpg" alt="Plaza Bolivar">
                  <p>Plaza Bolivar</p>
              </div>
              <div class="carousel__elemento">
                  <img src="./assets/img/hamburg-3846525_1280.jpg" alt="Lago Tucuman">
                  <p>Lago Tucuman</p>
              </div>
              <div class="carousel__elemento">
                  <img src="./assets/img/medellin-182327_1280.jpg" alt="Pueblito Paisa">
                  <p>Pueblito Paisa</p>
              </div>

              <div class="carousel__elemento">
                  <img src="./assets/img/medellin-gc38991ff0_1280.jpg" alt="Parque de Botero">
                  <p>Parque de Botero</p>
              </div>
              <div class="carousel__elemento">
                  <img src="./assets/img/poland-966151_1280.jpg" alt="Plaza Principal" >
                  <p>Plaza Principal</p>
              </div>

          </div>

          <button aria-label="Siguiente" class="carousel__siguiente">
              <i class="fas fa-chevron-right"></i>
          </button>
      </div>

      <div role="tablist" class="carousel__indicadores"></div>
  </div>


  <section class="main">
    <div class="main-top justify-content-center">
        <h3 class="fw-bold">Reportes</h3>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 mb-3">
            <div class="card h-100 mx-auto"> <!-- Agregamos la clase mx-auto aquí -->
                <div class="card-body text-center">
                    <i class="fa fa-star fs-3" aria-hidden="true" style="color: rgba(21, 148, 142, 0.856)"></i>
                    <h4 class="card-title fw-bold ">Favoritos</h4>
                    <p class="card-text">En esta sección podrás ver los lugares con más likes</p>
                    <button><a href="#" class="card-link text-white">Ver</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card h-100 mx-auto"> <!-- Agregamos la clase mx-auto aquí -->
                <div class="card-body text-center">
                    <i class="fa fa-commenting fs-3" aria-hidden="true" style="color: rgba(21, 148, 142, 0.856)"></i>
                    <h4 class="card-title fw-bold">Comentados</h4>
                    <p class="card-text">En esta sección podrás ver los lugares con más comentados</p>
                    <button><a href="#" class="card-link text-white">Ver</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 ">
            <div class="card h-100 mx-auto"> <!-- Agregamos la clase mx-auto aquí -->
                <div class="card-body text-center">
                    <i class="fa fa-users fs-3" aria-hidden="true" style="color: rgba(21, 148, 142, 0.856)"></i>
                    <h4 class="card-title fw-bold">Vistos</h4>
                    <p class="card-text">En esta sección podrás ver los lugares más vistos</p>
                    <button><a href="#" class="card-link text-white">Ver</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card h-100 mx-auto "> <!-- Agregamos la clase mx-auto aquí -->
                <div class="card-body text-center">
                    <i class="fa fa-cloud fs-3" aria-hidden="true" style="color: rgba(21, 148, 142, 0.856)"></i>
                    <h4 class="card-title fw-bold">Guardados</h4>
                    <p class="card-text">En esta sección podrás ver tus sitios guardados por ti</p>
                    <button><a href="#" class="card-link text-white">Ver</a></button>
                </div>
            </div>
        </div>
    </div>
</section>








  <div class="container">
    <div class="row">
        <!-- Primer recuadro con ancho del 70% -->
        <div class="col-md-8 ">
            <div class="border p-3 ">
                <!-- Cuadrito para el tema central -->
                <div class="border p-2 text-center fw-bold" >
                   <h5><a href="#" class="text-decoration-none fw-bold">Sitios Turísticos</a></h5>
                </div>
                <!-- Contenido del primer recuadro -->
                <div class="d-flex flex-wrap justify-content-between mt-4">

                  <div class="card mt-3" style="width: 18rem;">
                    <img src="./assets/img/botero-in-berlin-250915_1280.jpg" class=" img-fluid  " alt="Imagen de la tarjeta 1"  >
                    <div class="card-body">
                      <h5 class="card-title text-center fw-bold fs-4">Medellín</h5>
                      <p class="card-text fs-6 text-center
                  ">La ciudad de la Eterna Primavera.</p>
                      <div class="text-center">
                        <button><a href="#" class="btn mx-auto">Ver</a></button>
                        </div>
                    </div>
                  </div>
                  <div class="card ml-auto mt-3" style="width: 18rem;">
                    <img src="./assets/img/colombia-g04a89f548_1280.jpg" class=" img-fluid " alt="Imagen de la tarjeta 2" >
                    <div class="card-body">
                      <h5 class="card-title text-center fw-bold">Bogotá</h5>
                      <p class="card-text fs-6 text-center">Capital de Colombia que cuenta con sitios coloniales.</p>
                      <div class="text-center">
                        <button><a href="#" class="btn mx-auto">Ver</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <!-- Segundo recuadro con ancho del 30% -->
        <div class="col-md-4">
            <div class="border p-3">
                <!-- Cuadrito para el tema central -->
                <div class="border p-2 text-center fw-bold">
                    Subidos recientemente
                </div>
                <!-- Contenido del segundo recuadro -->
                <div class="card w-100 mt-4">
                  <div class="card-body d-flex justify-content-between align-items-center">
                      <div>
                          <h5 class="card-title fs-6 fw-bold">Museo el Castillo</h5>
                          <i class="bi bi-arrow-right-short fs-5"></i><span class="fs-6 text-secondary">En Medellín</span>
                      </div>
                      <div>
                          <a href="#" class="badge">Ver</a>
                      </div>
                  </div>
              </div>

              <div class="card w-100 mt-4">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title fs-6 fw-bold">Museo el Oro</h5>
                        <i class="bi bi-arrow-right-short fs-5"></i><span class="fs-6 text-secondary">En Bogotá</span>
                    </div>
                    <div>
                        <a href="#" class="badge">Ver</a>
                    </div>
                </div>
               </div>

               <div class="card w-100 mt-4">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title fs-6 fw-bold">Catedral de Zipaquira</h5>
                        <i class="bi bi-arrow-right-short fs-5"></i><span class="fs-6 text-secondary">En Bogotá</span>
                    </div>
                    <div>
                        <a href="#" class="badge">Ver</a>
                    </div>
                </div>
               </div>

               <div class="card w-100 mt-4">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title fs-6 fw-bold">Teatro Mayor</h5>
                        <i class="bi bi-arrow-right-short fs-5"></i><span class="fs-6 text-secondary">En Bogotá</span>
                    </div>
                    <div>
                        <a href="#" class="badge">Ver</a>
                    </div>
                </div>
               </div>
        </div>
    </div>
  </div>

</div>




















