<nav >
  <div class="d-flex " id="wrapper" >
  <div style="background-color:#bff3e0;"  id="sidebar-wrapper">
    <div class="sidebar-heading text-cente py-1 fs-8 fw-bold">

        <i class="fas fa-user-secret me-2"></i><p class="fw-bold fst-italic text-dark text-cente border-bottom">
          Pequeños lugares, grandes sonrisas"</p>
    </div>

    <div class="list-group list-group-flush my-3">

           <a href="#" class="list-group-item list-group-item-action bg-trasparent second-text fw-bold">
             <i class="fs-4 bi-filter-square-fill"></i>  <span class="ms-2">Dashboard</span>
          </a>



          <a href="#sidemenu" data-bs-toggle="collapse" class="list-group-item list-group-item-action bg-trasparent second-text  fw-bold"><i class="fs-4 bi-building-fill"></i><span class="ms-2">Sitios Turísticos</span>
          </a>

        <ul class="nav collapse ms-1 flex-column" id="sidemenu" data-bs-parent="#menu">

          <li class="nav-item">
            <a class="nav-link bg-trasparent second-text fw-bold  " href="#" aria-current="page">
              <i class="fs-4 bi-house-fill text-black"></i><span class="ms-2 text-black " >Bogotá</span> </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link bg-trasparent second-text fw-bold" href="#" >
              <i class="fs-4 bi-house-fill text-black"></i><span class="ms-2 text-black">Medellín</span></a>
          </li>
        </ul>


          <a href="#submenu2" data-bs-toggle="collapse" class= "list-group-item list-group-item-action bg-trasparent second-text fw-bold">
              <i class="fs-4 bi-bar-chart-line-fill"></i> <span class="ms-2">Reportes</span></a>
          <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                  <a href="#" class="nav-link px-0 bg-trasparent second-text fw-bold" ><i class="fs-4 bi-star-fill text-black"></i> <span class="ms-2 text-black" >Favoritos</span></a>
              </li>
              <li>
                  <a href="#" class="nav-link px-0 bg-trasparent second-text fw-bold"><i class="fs-4 bi-chat-square-dots-fill text-black"></i> <span class="ms-2 text-black">Lo más comentado</span> </a>
              </li>
          </ul>


      <a href="#" class="list-group-item list-group-item-action bg-trasparent second-text fw-bold">
        <i class="fs-4 bi-megaphone-fill"></i> <span class="ms-2">PQRS</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-trasparent second-text fw-bold">
        <i class="fs-4 bi-gear-fill"></i><span class="ms-2">Configuración</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-trasparent second-text fw-bold">
        <i class="fs-4 bi-box-arrow-in-right"></i><span class="ms-2">Cerrar Sesión</span>
      </a>
      <div class="mb-5">
        <h3 class="  h6 mb-3 ms-4 py-2  ">Suscribete a nuestros boletines</h3>
        <form action="#" class="subscribe-form ">
          <div class="form-group d-flex ">

            <input type="text" class="form-control ms-3 me-4 " style="background-color: rgb(170, 168, 168);" placeholder="Ingrese su E-mail">
          </div>
        </form>
      </div>



     <!-- -->

    </div>
  </div>
</div>
</nav>







