
<h1 class="fw-bold" >
  USUARIOS
</h1>
<button class="btn text-white" (click)="mostrar(1)"
 style="background-color: rgba(21, 148, 142, 0.856)">Insertar Usuario
</button>


<div  id="formulario" *ngIf="verf==true">
    <div class="row">
        <div class="col-lg-6 mt-4">
            <input type="text" id="nombre" class="form-control fs-6" placeholder="Digite su nombre" [(ngModel)]="user.usuario"><br>
            <span style="color: red;" *ngIf="validusuario==false">Insertar nombre</span>
        </div>

        <div class="col-lg-6 mt-4">
            <input type="email" id="email" class="form-control" placeholder="Ingrese Email" [(ngModel)]="user.correo"><br>
            <span style="color: red;" *ngIf="validcorreo==false">Insertar correo</span>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-6 mt-4">
          <input type="password" id="clave" class="form-control" placeholder="Digite una contraseña"[(ngModel)]="user.clave"><br>
          <span style="color: red;" *ngIf="validclave==false">Insertar contraseña</span>
      </div>

      <div class="col-lg-6 mt-4">
        <input type="text" id="celular" class="form-control" placeholder="Digite su celular" [(ngModel)]="user.celular"><br>
        <span style="color: red;" *ngIf="validcelular==false">Insertar celular</span>
      </div>

      <div class="col-lg-4 mt-4 ">
        <select  id="tipo" class="form-control form-select" [(ngModel)]="user.tipo_usuario">
          <option value="Administrador" label="Administrador">Administrador</option>
          <option value="General" label="General">General</option>
        </select><br>
        <span style="color: red;" *ngIf="validtipo_usuario==false">Insertar Tipo de usuario</span>
      </div>
    </div>

    <div class="row ">
      <div class="col-lg-3 mt-4">
          <button class="btn btn-primary" (click)="ingresar()" style="background-color: rgba(21, 148, 142, 0.856)">Guardar</button>
      </div>
      <div class="col-lg-3 mt-4">
          <button class="btn btn-secondary"  (click)="mostrar(0)">Cancelar</button>
      </div>
  </div>

      <div class="col-lg-3"></div>


</div>

<br>
<br>

<div class="table-responsive">
  <table class="table caption-top" style="border: 1px solid black;">
    <thead>
      <tr>

        <th >Usuario</th>
        <th >Correo</th>
        <th >Celular</th>
        <th> Tipo</th>
        <th >Acciones</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of usuario">
        <td>{{item.usuario}}</td>
        <td>{{item.correo}}</td>
        <td>{{item.celular}}</td>
        <td>{{item.tipo_usuario}}</td>
        <td>

          <a >
            <span class="fas fa-edit editar" litle="Editar" ></span>
          </a>

          -
          <a (click)="pregunta( item.id_usuario, item.usuario)">
              <span  class="fas fa-trash-alt eliminar" litle="Eliminar" ></span>
          </a>
        </td>
      </tr>


    </tbody>
  </table>
</div>
