h1 {
  max-width: 100%; /* Esto permite que el h1 ocupe todo el ancho disponible */
}

.editar{
  color: blueviolet;
  cursor: pointer;
}
.eliminar{
  color: red;
  cursor: pointer;
}
h1{
  margin-left: 60px;
}
.table-responsive{
  margin-left: 60px;
}
.btn {
  margin-left: 60px;
}
input{
  margin-left: 40px;
}
.col-lg-4 {
  margin-left: 50px;
}
#formulario{
  max-width: 650px;
}
